*{
    font-family: Arial,sans-serif;
}
.firstSection{
    background-color: #f5fbfc;
    background-image: url(https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa308a576b613_YumYum.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}
.sec1title{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 130px;
}
.colored-title{
    color: #35B8BE;
}
.FAQ-btns{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.all-btns{
    border-width : 0px;
    width: 170px;
    padding: 15px;
    border-radius: 5px;
    font-size: 17px;
    margin-right: 20px;
}
.FAQ-btn1{
    color: white;
    background-color: #35B8BE;
    background-image: url(https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3345876b5c4_Button%20Wave.svg);
}
.FAQ-btn2{
    border: 0.1px solid lightgray;
    background-color: #fff;
}
.question{
    display: flex;
    justify-content: space-between;
    color: #35B8BE;
}
.question img{
    transform: rotate(45deg);
}
.FAQ-content{
    width: 1000px;
    margin-left: 250px;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(145, 145, 145);
}
.FAQ-hr{
    border-top: 0;
}
