*{
    font-family: Arial,sans-serif;
    margin: 0;
}
#topNav{
    background-color: #35B8BE;
    background-image: url(https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa36d5976b5d3_Banner%20Wave.svg);
    background-size: cover;
    height: 50px;
    text-align: center;
    color: #cbf0f3;
}
#topNav p{
    padding-top: 15px;
    font-size: 16px;
}
#bottomNav{
    background-color: white;
    height: 80px;
    padding-top: 20px;
}
#bottomNav ul{
    text-align: right;
    margin-right: 100px;
}
#bottomNav ul li{
    list-style: none;
    display: inline-block;
    padding: 18px;
}
.linkstyle{
    text-decoration: none;
    color: rgb(113, 113, 113);
    font-size: 16px;
}
.active {
    color: #35B8BE;
}
.logo{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 130px;
}
