.row{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
footer{
    background-color: #f5fbfc;
    background-image: url(https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa326ac76b5fe_Pattern%20Footer.svg);
    background-repeat: no-repeat;
    background-size:40%;
    height: 600px;
    font-family: 'Poppins', sans-serif;
}
.right{
    display: flex;
}
.footer-col{
    margin-right: 70px;
}
.footer-col h5{
    letter-spacing:2px;
}
.footer-col a{
    text-decoration: none;
    color: black;
    line-height: 3;
    font-size: 16px;
    color: grey;
}
.footerIMG{
    width: 50px;
    height: 50px;
}
.footerdesc{
    font-size: 19px;
    color: grey;
}
.footerHR{
    margin-top: 100px;
    margin-bottom: 70px;
    width: 80%;
    color: lightgray;
    border-top: none;
}
.footerLink{
    color: #35B8BE;
}
.footer-row{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.leftFooter{
    margin-left: 10%;
}
.rightFooter{
    margin-right: 10%;
}
.fa {
    padding: 10px;
    width: 15px;
    height: 15px;
    color:#818ea6;    ;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #929eb571;
    margin-left: 15px;
  }